
header {background-image: url(../imagenes/FB_IMG_1681856093419.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;}
 
    @media (min-width:768px) {
        body header { 
            height: 400px;
        }
    }
footer{background-color: black;
    padding: 20px;
    text-align: center;
}
.footer_icons {
    display: block;
    margin: 20px;
}